
/* Navbar.css */

/* Navbar.css */

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-brand a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    align-items: center;
}

.hamburger-menu {
    display: none; /* Oculto en desktop */
    font-size: 2em;
}

.navbar-links a,
.navbar-auth button,
.navbar-auth a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 0.8rem;
    margin-right: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover,
.navbar-auth a:hover {
    background-color: #f0f0f0;
}

.navbar-auth button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-auth button:hover {
    background-color: #0056b3;
}

.navbar-badge {
    position: absolute;
    top: -8px;
    right: -12px;
    background: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    min-width: 18px; /* Asegura que el círculo sea visible even con un solo dígito */
    text-align: center;
}

.navbar-link-notifications {
    position: relative;
    margin-right: 20px;
}

.manadabook-link {
    background-color: #ffc107;
    color: #333 !important;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.manadabook-link:hover {
    background-color: #e0a800;
}

@media (max-width: 1024px) {
    .hamburger-menu {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px; /* Altura del navbar */
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .navbar-links.open {
        display: block;
    }

    .navbar-links-inner {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
}
