aces o ya /* ForYouPage.css */
.foryou-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    height: calc(100vh - 80px); /* Ajustar según la altura del navbar */
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Para que cada reel ocupe la pantalla al hacer scroll */
    background-color: #1a1a1a;
}